* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input{
    display: none;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #31a8f7;
}

.content {
    position: absolute;
    top: 40%;
    right: 10%;
    color: white;
    text-align: right;
}
.content h1 {
    font-size: 3rem;
}
.content p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 20px;
    letter-spacing: 1px;
}
.content span {
    font-size: 1.7rem;

}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    clip-path: circle(7rem at left top);
    transition: all 0.4s linear;
    padding: 20px;
}

.first-icon {
    font-size: 2.5rem;
    color: #31a8f7;
    transition: 0.1s linear;
    scale: 1;
}

input[id="menu-burger"]:checked ~ .menu {
    clip-path: circle(200% at left top);
}

input[id="menu-burger"]:checked ~ .menu .first-icon {
    scale: 0;
}

input[id="menu-burger"]:checked ~ .navbar {
    visibility: visible;
}

input[id="menu-burger"]:checked ~ .navbar i {
    rotate: 180deg;
    scale: 1;
}


input[id="home"]:checked ~ .ihome,
input[id="about"]:checked ~ .iabout,
input[id="portfolio"]:checked ~ .iportfolio,
input[id="contact"]:checked ~ .icontact{
    background-color: #efeef0;
    color: black;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    visibility: hidden;
    background: transparent;
}

.navbar .top-icon i {
    font-size: 2.5rem;
    color: #31a8f7;
    padding: 20px;
    transition: 0.2s linear;
    scale: 0;
}

.item {
    display: block;
    width: 250px;
    height: 40px;
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #31a8f7;
    transition: 0.2s linear;
}

.item label {
    padding-left: 50px;
    line-height: 40px;
    cursor: pointer;
}

