* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black ;
}

.container {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2rem;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.logo-img {
    width: 13rem;
    height: 3.9rem;
    margin: 0 auto;
    display: block;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fica-logo, .dt-logo {
    width: 2.6rem;
    height: 2.6rem;
    margin-right: 0.8rem;
}

.logo-item {
    border-radius: 99px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 37px;
    padding: 4px 12px 4px 5px;
    border: 1px solid #ccc;;
    margin-right: 12px;
}

.weather {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.weather .weather-wrap {
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
}

.weather .icon-header {
    font-size: 3rem;
    margin-left: 0.8rem;
}

.weather .weather-item {
    font-size: 2rem;
    margin-left: 0.8rem;
    display: flex;
    text-align: right;
}

.weather .weather-item::after {
    content: "";
    width: 0;
    height: 24px;
    position: relative;
    border-left: 1px solid #ccc;
    display: block;
    margin: 0 16px;
}

.login-header .btn-login-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    color: gray;
    cursor: pointer;
    font-size: 1.4rem;
    background: transparent;
}

.login-icon {
    color: black;
    margin-left: 0.9rem;
    font-size: 2.2rem;
}

.search {
    margin-left: 2rem;
    font-size: 2.2rem;
}


/* Modal */

.modal {
    background: #fff;
    width: 100%;
    max-width: 460px;
    border-radius: 3px;
    overflow-y: auto;
    max-height: 100vh;
    position: fixed;
    transition: all 0.4s linear;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.login button {
    width: 50%;
    height: 5.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 600;
}
.active {
    background: #fff none;
    color: #333;
}

/* modal form */

.form-txt {
    display: flex;
    justify-content: center;
    margin: 16px 0 0;
    color: #1a1a1a;
}

.form-social {
    display: flex;
    justify-content: space-between;
    margin-top: 1.6rem;
}

.form-social button {
    max-width: 100%;
    width: calc(50% - 10px);
    border: 0;
    background: #e2e8f0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #333;
    height: 45px;
    padding: 0;
    cursor: pointer;
}

.form-social button i {
    margin-right: 0.5rem;
}

.or {
    text-align: center;
    margin-top: 1.6rem;
    position: relative;
    z-index: 0;
}
.or span {
    background-color: white ;
    padding: 0 2rem;

}
.or span::before {
    content: "";
    width: 100%;
    height: 1px;
    background: #e2e8f0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
}

/* form */
.modal-form-login, .modal-form-register {
    padding: 0 40px 30px 40px;
}
.email, .password, .name {
    margin-top: 1.6rem;
}

.email label, .password label, .name label {
    display: block;
    color: #1a1a1a;
    font-weight: 500;
    margin: 0 0 2px;
}

.email .email-input, .password-input, .name-input {
    width: 100%;
    height: 4.4rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    padding: 1.2rem 1.6rem 1rem;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #333;
    outline: 0;
}

.password .password-form {
    position: relative;
}

.btn-show {
    position: absolute;
    top: 0;
    right: 0;
    width: 4.4rem;
    height: 4.4rem;
    /* background: black; */
    color: gray;
    font-size: 1.6rem;
    text-align: center;
    line-height: 4.4rem;
}

.forgot {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.6rem;
}

.btn-login {
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4.4rem;
    font-size: 1.6rem;
    line-height: 20px;
    font-weight: 600;
    color: #f8fafc;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #1a7900 ;
    cursor: pointer;
}

.rules {
    margin-top: 1.6rem;
    font-size: 1.4rem;
}

.rules a {
    color: #2361ff;
    font-weight: 500;
}

/* END */
.modal-box { 
    position: fixed;
    display: none;
}

.overlay {
    background: rgba(0, 0, 0, 0.196);
    inset: 0;
    position: fixed;
    z-index: -1;
}

.show {
    display: block;
}

.active {
    background: #fff none;
    color: #333;
}

.hidden {
    display: none;
}

.warring {
    color: red;
    font-style: italic;
}