.products-tab {
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        background: #F2FFEC;
        height: 20rem;
        width: 100vw;
        left: 0;
        top: 0%;
        position: absolute;
        z-index: -1;
    }

    .bg-products {
        margin: 0;
    }

    .bg-products-title {
        color: $textColor;
        font-size: 5.2rem;
        font-weight: 700;
        padding: 6.9rem 3.5rem;
    }

    .products-container {
        margin-top: 12rem;
    }
}

.products-detail {
    margin-top: 16rem;

    .products-detail-title {

        &_txt {
            padding: 7rem 13rem;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }

            h2 {
                font-size: 3.3rem;
                font-weight: 800;
                line-height: 5rem;
                margin-bottom: 2rem;

            }

            p {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 2.45rem;
                width: 80%;
            }
        }


    }

    .products-detail-img {
        object-fit: cover;

    }
}

@media only screen and (max-width: 991.98px) {
    .products-detail {
        margin-top: 16rem;

        .products-detail-title {
            @include flexCenterAll;
            &_txt {
                padding: 7rem 13rem;
                position: relative;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }

                h2 {
                    font-size: 3.3rem;
                    font-weight: 800;
                    line-height: 5rem;
                    margin-bottom: 2rem;

                }

                p {
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 2.45rem;
                    width: 80%;
                }
            }


        }

        .products-detail-img {
            object-fit: cover;
            text-align: center;

        }
    }

}

@media only screen and (max-width: 576px) {
    .products-tab {
        .bg-products-title {
            text-align: center;
        }
    
    }
}