* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
h1 {
    text-align: center;
    margin-bottom: 60px;
}
.container {
    display: flex;
    gap: 30px;
    position: relative;
    padding: 40px 20px;
}
.container::before {
    position: absolute;
    content: '';
    width: calc(100% - 40px);
    height: 2px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.156);
}
.left {
    flex-direction: row-reverse;
}

.img-title {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img {
    width: 100%;
    height: 100%;
}

.content-title {
    font-size: 70px;
    margin-bottom: 60px;
}

.content-txt {
    font-size: 20px;
}
