.form-box {
    border-radius: 12px;
    background-color: white;
    transition: 0.6s ease-in-out;
    margin-top: 105px;
    width: 484px;
    padding: 64px;
    z-index: 1;
    position: absolute;
    visibility: visible;
    left: 0;
    box-shadow: 0 0 60px 0 rgba(94,92,154,.12);
    .landing-roket {
        position: absolute;
        width: 160px;
        height: 156px;
        top: -68px;
        left: -80px;
    }
    .form-box-header {
        font-size: 26px;
        line-height: 26px;
        font-weight: 700;
        color: #3e3f5e;
        font-family: 'Rajdhani', sans-serif;
        text-align: center;
    }
    .form-content {
        margin-top: 76px;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        margin-bottom: 39px;
        .form-under {
            display: flex;
            justify-content: space-between;
            .form-under-item {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .checkbox-title {
                    display: flex;
                    align-items: center;
                    label {
                        display: block;
                        padding-left: 15px;
                        color: #3e3f5e;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 22px;
                        font-family: Rajdhani,sans-serif;
                    }
                    .box-check {
                        width: 22px;
                        height: 22px;
                        border: 1px solid #dedeea;
                        border-radius: 7px;
                        background-color: #fff;
                        position: relative;
                        .checkbox-icon i {
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            display: none;
                            width: 22px;
                            height: 22px;
                            border-radius: 6px;
                            font-size: 16px;
                            text-align: center;
                            line-height: 22px;
                            color: white;
                            background-color: #23d2e2;
                            transition: 0.2s linear;
                        }
                    }
                }
                .form-link {
                    color: #adafca;
                    font-size: .875rem;
                    font-weight: 700;
                    line-height: 22px;
                    text-decoration: none;
                    &:hover {
                        color: #23d2e2;
                        background-color: none
                        ;
                    }
                }
                .btn {
                    display: inline-block;
                    border-radius: 10px;
                    font-size: 14px;
                    font-weight: 700;
                    text-align: center;
                    cursor: pointer;
                    height: 54px;
                    width: 100%;
                    border: none;
                    color: white;
                    background-color: #615dfa;
                    box-shadow: 4px 7px 12px 0 rgba(97,93,250,.2);
                }
            }
        }
        input[id=checkbox]:checked ~ .checkbox-title .box-check .checkbox-icon i {
            display: block;
            transition: 0.2s linear;
        }         
    }
    .line-txt {
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 70px;
            height: 1px;
            background-color: #dedeea;
        }
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            width: 70px;
            height: 1px;
            background-color: #dedeea;
        }
    }
    .social-link {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 15px;
        margin-top: 40px;
        .social-link-fb {
            display: block;
            text-decoration: none;
            width: 40px;
            height: 40px;
            border-radius: 12px;
            border: none;
            text-align: center;
            line-height: 40px;
            background: #3763d2;
            i {
                font-size: 16px;
                color: white;
            }
        }
        .social-link-twitter {
            display: block;
            text-decoration: none;
            width: 40px;
            height: 40px;
            border-radius: 12px;
            border: none;
            text-align: center;
            line-height: 40px;
            background: #1abcff;
            i {
                font-size: 16px;
                color: white;
            }
        }
        .social-link-twitch {
            display: block;
            text-decoration: none;
            width: 40px;
            height: 40px;
            border-radius: 12px;
            border: none;
            text-align: center;
            line-height: 40px;
            background:#7b5dfa;
            i {
                font-size: 16px;
                color: white;
            }
        }
        .social-link-youtube {
            display: block;
            text-decoration: none;
            width: 40px;
            height: 40px;
            border-radius: 12px;
            border: none;
            text-align: center;
            line-height: 40px;
            background: #fd434f;
            i {
                font-size: 16px;
                color: white;
            }
        }

    }

}