.header {
    padding: 20px 0;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    .menu-toggle {
        display: none;
    }

    .header-menu {
        margin-right: 1rem;

        .menu-list {
            display: flex;
            justify-content: flex-end;

            label {
                font-weight: 600;
                font-size: 2rem;
                padding: 55px 0;
                margin: 0 3rem;
                position: relative;
                cursor: pointer;

                &.active {
                    color: $primaryColor;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background: $primaryColor;
                        bottom: 0;
                        left: 0;
                    }
                }

                &:hover {
                    @extend .active;
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 2px;
                    background: $primaryColor;
                    bottom: 0;
                    left: 0;
                    transition: all 0.3s ease-in-out;
                }

                &:hover::before {
                    width: 100%;
                }

            }
        }
    }

    .overlay {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        inset: 0;
        background: #0000006b;
        transition: 0.4s ease;
        transition-property: opacity, visibility;
    }

    .header-icon {
        display: flex;
        justify-content: space-between;

        .cart-icon {
            position: relative;

            span {
                position: absolute;
                right: -7px;
                top: -7px;
                background: $secondaryColor;
                color: #fff;
                width: 1.6rem;
                height: 1.6rem;
                line-height: 1.6rem;
                text-align: center;
                border-radius: 50%;
            }
        }
    }

    .row {
        >[class^="col-"] {
            margin: 0;
        }
    }
}

