// Home
.main {
    padding-top: 13.5rem;
}

@import './Home/aboutbrand';
@import './Home/achievement';
@import './Home/products';
@import './Home/post';
@import './Home/quality';
@import './Home/service';
@import './Home/form';

// about
@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 991px) {

    /*Header*/
    .container {
        padding: 0 1.5rem;
    }

    .header {

        .align-items-center {
            justify-content: center;
        }

        .menu-toggle {
            display: block;
            font-size: 2.5rem;
            margin-right: 5rem;
        }

        .header-logo {
            text-align: center;
            margin-left: 5rem;
        }

        .header-menu {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            background: black;
            min-width: calc(100% / 2);
            translate: -100%;
            transition: translate 0.4s ease;
            z-index: 1;

            .menu-list {
                display: flex;
                flex-direction: column;
                padding: 3rem 0;


                a {
                    margin: 2.5rem 5rem;

                    label {
                        padding: 0.5rem 0;
                        color: white;
                    }
                }
            }
        }

        .header-icon {
            display: flex;
            justify-content: flex-end;
            column-gap: 3.5rem;
        }
    }

    input[type="checkbox"]:checked~.header-menu {
        translate: 0;
    }

    input[type="checkbox"]:checked~.overlay {
        opacity: 1;
        visibility: visible;
    }

    /*About brand*/
    .about-top {
        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: #DCFFCA;
            border-radius: 2rem 0 0 2rem;
            z-index: -1;
        }

        .content-left {
            padding: 10rem;

            .content-left-item {
                text-align: center;

                .content-left-title-top {
                    font-size: 4.4rem;
                    font-weight: 800;
                    line-height: 5.8rem;
                    color: $textColor;
                }

                .content-left-title {
                    margin: 0 auto;
                    display: block;
                    font-size: 5.2rem;
                    font-weight: 800;
                    color: $textColor;
                }

                .content-left-txt {
                    margin: 0 auto;
                    font-size: 1.6rem;
                    font-weight: 400;
                    margin-top: 3.2rem;
                    line-height: 2.45rem;
                    color: $textColor;
                }
            }
        }

        .content-right {
            position: static;

            .content-right-item {
                display: block;
                text-align: center;

                img {
                    display: block;
                    position: static;
                    width: 35%;
                    height: 35%;
                    object-fit: cover;
                    margin: 0 auto;
                }

                .content-right-title {
                    line-height: 10rem;
                    font-size: 10rem;
                    font-weight: 800;
                    opacity: 0.15000000596046448;
                    transform: rotateZ(0deg);

                }
            }
        }
    }

    /*achievement*/
    .achievement {
        .achievement-content {
            padding: 10rem 2rem;
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            align-items: baseline;
            column-gap: 1rem;

            .achievement-pink-content {
                width: 30%;
                height: 100%;
                margin: 0 2rem;

                .achievement-item {

                    .achievement-content-title {
                        font-size: 4rem;
                        font-weight: 800;
                        line-height: 4rem;
                        color: $textColor;
                    }

                    .achievement-content-txt {
                        margin: 0 auto;
                        font-size: 1.8rem;
                        font-weight: 400;
                        margin-top: 3rem;
                        line-height: 2.45rem;
                        color: $textColor;
                    }
                }
            }

            .achievement-green-content {
                width: 30%;
                height: 100%;

                .achievement-item {
                    .achievement-content-title {
                        font-size: 4rem;
                        font-weight: 800;
                        line-height: 4rem;
                        color: $textColor;
                    }

                    .achievement-content-txt {
                        margin: 0 auto;
                        font-size: 1.8rem;
                        font-weight: 400;
                        margin-top: 3rem;
                        line-height: 2.45rem;
                        color: $textColor;
                    }
                }
            }


        }
    }

    /* products*/

    .products-content {
        padding: 0 3rem;
        justify-content: center;
        align-items: center;

        .products-column {
            width: calc(100% / 3 - 6.7rem);

            .item-img-1 {
                margin-top: 13.8rem;
                object-fit: cover;
                width: 80%;
            }

            .item-img-2 {
                margin-top: 13.8rem;
                object-fit: cover;
                width: 80%;
                margin-left: 2.3rem;
            }

            .item-img-3 {
                margin-top: 13.8rem;
                object-fit: cover;
                width: 80%;
                margin-left: 1.7rem;
            }
        }

        .products-item-pink {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 24rem;
                height: 24rem;
                border-radius: 50%;
                background-color: #FFBA94;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .products-item-green {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 24rem;
                height: 24rem;
                border-radius: 50%;
                background-color: #C5FFA8;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }
    }


    .title-txt {
        font-size: 2.2rem;
        font-weight: 700;
        text-align: center;
        color: $textColor;
    }



    .detail-txt {
        font-size: 1.8rem;
        font-weight: 400;
        margin: 0.8rem;
        line-height: 2.6rem;
        color: #656565;

        .detail-prices {
            font-size: 2.2rem;
            font-weight: 600;
            line-height: 3.2rem;
            color: #000;
        }
    }

    .btn-products-detail {
        display: block;
        margin-top: 3.2rem;
        padding: 1.6rem 1.4rem;
        background-color: $primaryColor;
        border-radius: 0.8rem;
        font-size: 1.8rem;
        font-weight: 700;
        color: white;
        cursor: pointer;
    }

}